# Ignore Gradle project-specific cache directory
.gradle
# Ignore Gradle build output directory
app/.env
.env
# Ignore IntelliJ files
.idea/
*.iml

# Ignore build output
/out/
/target/
*.class*
# Ignore system files
.DS_Store
Thumbs.db
